<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>LiveCoder</title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/stylesheets/prism.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" id="logoBanner">liveCoder</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="main">
			...
		</div>
	</div>
</div>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/lodash.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/backbone-min.js"></script>
<script type="text/javascript" src="/javascripts/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/libs/prism.min.js"></script>
<script type="text/javascript" src="/javascripts/src/config.js"></script>
<script type="text/javascript" src="/javascripts/src/main.js"></script>
</body>
</html>

